.landingpage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  background-image: url("https://images.pexels.com/photos/2363482/pexels-photo-2363482.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  height: 94vh;
}

.landingleft {
  width: 50%;
  padding: 40px;
}

.landingleft h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #333;
}

.landingleft p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #555;
}

.landingleft hr {
  border: 0;
  height: 2px;
  background: #333;
  margin-bottom: 20px;
}

.landingleft h4 {
  font-size: 1.5em;
  margin-bottom: 30px;
  color: #333;
}

.rolecontainer {
  margin-bottom: 30px;
}

.rolecontainer h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
  color: #333;
}

.roleoptions {
  display: flex;
  gap: 15px;
}

.roleoption {
  padding: 10px 20px;
  background-color: #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.roleoption.selected {
  background-color: #088178;
  color: #fff;
}

.roleoption:hover {
  background-color: #d4d4d4;
}

.startbutton {
  padding: 15px 30px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.startbutton:disabled {
  background-color: #fff;
  cursor: not-allowed;
  color: black;
}

.startbutton:hover:not(:disabled) {
  background-color: #0056b3;
}

.landingimage {
  width: 50%;
 
  
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 80%;
}
