/* src/components/VideoBackground.css */
.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .LoginContainer {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    max-width: 400px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #LoginTitle {
    margin-bottom: 20px;
    text-align: center;
    color: black;
  }
  
  .LoginContainer hr {
    margin-bottom: 20px;
  }
  
  .LoginContainer h4 {
    margin-top: 20px;
    text-align: center;
  }
  
  .LoginContainer h4 a {
    color: #088178;
    cursor: pointer;
  }
  
  .LoginContainer h4 a:hover {
    text-decoration: underline;
  }
  